<html ng-app="VinsProfile">
    <head>

        <!--<title>Vinay Sharma.</title>-->
        <meta name="keywords" content="vinay, deva, vinaysharma, vinsworld, vins, sharma, sharmavinay, vinsy, Developer, FullStack Developer, UI Developer, FrontEnd Developer, UI Deveoper Portfolio,Portfolio, Free, download, India,Free-Lancer">
        <meta name="description" content="Hello, I’m Full Stack Developer from Gujarat, India. I hold a master degree of Computer Applications from the Veer Narmad South Gujarat University.">

        <link rel="stylesheet" href="css/main.min.css">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <script src="js/main.min.js"></script>
        <script src="js/app.js"></script>

    </head>
    <body ng-controller="profileCtrl">

        <section class="module parallax {{activeColor}}-profile">
            <div class="parallax-container">
                <p>{{intro}}</p>
                <div>
                    <div id="typed-strings">
                        <p>Web Applications</p>
                        <p>Corporate Websites.</p>
                        <p>Content Management Systems</p>
                        <p>Landing Pages.</p>
                    </div>
                    <span id="js-DynamicText"></span>
                </div>
              </div>
            <div><a href="#js-personal-details" ng-click="scroll('#js-personal-details','angle')" class="fa fa-angle-double-down fa-fw bounce animated infinite"></a></div>
        </section>

        <main role="main">
            <div id="js-load"></div>

            <section class="header">
                <div class="navbar navbar-inverse {{activeColor}}-theme"  role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">Vinay Sharma</a>
                        </div>
                        <div class="collapse navbar-collapse right">
                            <ul class="nav navbar-nav">
                                <!-- <li class="active"> -->
                                <li>
                                  <a href="#js-personal-details" ng-click="scroll('#js-personal-details')" class="hidden-xs">Personal Details</a>
                                  <a href="#js-personal-details" ng-click="scroll('#js-personal-details')" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Personal Details</a>
                                </li>
                                <li>
                                  <a href="#js-professional-background" ng-click="scroll('#js-professional-background')" class="hidden-xs">Experience</a>
                                  <a href="#js-professional-background" ng-click="scroll('#js-professional-background')" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Experience</a>
                                </li>
                                <li>
                                  <a href="#js-testimonials" ng-click="scroll('#js-testimonials')" class="hidden-xs">Testimonials</a>
                                  <a href="#js-testimonials" ng-click="scroll('#js-testimonials')" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Testimonials</a>
                                </li>
                                <li>
                                  <a href="#js-contact" class="hidden-xs">Contact</a>
                                  <a href="#js-contact" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
            </section>

            <section id="js-personal-details" class="introSection">
                <div  data-aos="fade-up" class="row center">
                    <div class="headTag">
                        <p>
                            <span>WHO AM I?</span>
                        </p>
                        <h1>PERSONAL DETAILS</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <img data-aos="zoom-in" class="profileImage" src="images/vinay.jpg">
                    </div>
                    <div class="col-md-3">
                        <ul  data-aos="flip-left" data-aos-duration="1000" class="personal-details">
                            <li>Name: Vinay S Sharma</li>
                            <li>Age: 25 Years</li>
                            <li>Phone: +91-9033736602</li>
                            <li>Email: sharma.vinay336@gmail.com</li>
                            <li>Address: Gujarat,India</li>
                            <li>Email: sharma.vinay336@gmail.com</li>
                        </ul>
                        <ul class="social">
                            <li>
                                <a data-aos="zoom-in" data-aos-duration="1000" href="https://www.facebook.com/vinayss2" class="facebook-link">
                                    <i class="rotate fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-aos="zoom-in" data-aos-duration="1200" href="https://twitter.com/Vinay336" class="twitter-link">
                                    <i class="rotate fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-aos="zoom-in" data-aos-duration="1400" href="#" class="google-plus-link">
                                    <i class="rotate fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-aos="zoom-in" data-aos-duration="1600" href="https://www.linkedin.com/in/vinsworld" class="linkedin-link">
                                    <i class="rotate fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-aos="zoom-in" data-aos-duration="1800" href="https://github.com/vinsworld" class="github-link">
                                    <i class="rotate fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 personal-details">
                        <div data-aos="fade-down-left" data-aos-duration="1000">Hello, I’m Full Stack Developer from Gujarat, India. I hold a master degree of Computer Applications from the Veer Narmad South Gujarat University.</div>
                        <div data-aos="fade-left" data-aos-duration="1000">Because I’m lazy, I work and adapt to new technologies quickly and effectively. I enjoy using design patterns and single page application architecture to create modularized reusable code, complex user interactions and fascinating user journeys!</div>
                        <div data-aos="fade-up-left" data-aos-duration="1000">Currently i am working with one of cool startup with extremely hard working and talented bunch of professionals, on seriously cool Stuff. If you’re building a product & are looking for someone with incredible startup experience, you should contact me.</div>
                    </div>
                </div>
            </section>

            <section id="js-professional-background">
                <div class="row center">
                    <div data-aos="fade-up" class="headTag">
                        <p>
                            <span>MY PROFESSIONAL BACKGROUND</span>
                        </p>
                        <h1>WORK EXPERIENCE</h1>
                    </div>
                    <div class="projects">
                        <div class="row">
                            <div  data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic left">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div  data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail right">
                                <h3>Long Haul</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                </ul>
                                <p>Visibility is the biggest issue seen in logistics and supply chain across the world. Long Haul helps business by managing resources and makes business more flexible & responsive by tracking business shipments, vehicles and other assets every
                                    single minute on a map interface!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div  data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic right">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail left">
                                <h3>Point-to-Point (P2P)</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                </ul>
                                <p>This product help to allocate orders to the nearest available delivery boys or trucks.It takes into account the priority, distance, preferred pick-up and delivery time window, capacity, location and type of vehicle.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic left">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div  data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail right">
                                <h3>First Mile & Last Mile (FMLM)</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                </ul>
                                <p>FMLM provides optimum way to pick up and deliver orders seamlessly, it optimise the use of resources will directly turn into business profitability and provides insights out of information.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic right">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail left">
                                <h3>Data Consolidation</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                </ul>
                                <p>A solution which empowers and provides flexibility to Business users to analyse and use data in self-service mode rather than having dependency on IT. It is a product that is used to create table and manipulate table data from web based user
                                    interface.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic left">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail right">
                                <h3>Mehtaclasses.com</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                </ul>
                                <p>A content management system for Mehta classes,Which helps in managing student records,Publishing student scores for various competitive exams,downloading study material and much more.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div data-aos="zoom-in" data-aos-duration="1000" class="col-md-6 projectPic right">
                                <img src="images/macbook.jpeg"/>
                            </div>
                            <div data-aos="zoom-in-up" data-aos-duration="800" class="col-md-6 projectDetail left">
                                <h3>Multiple Choice quiz</h3>
                                <ul>
                                    <li>Full Stack Developer</li>
                                    <li>FRONT-END DEVELOPMENT</li>
                                </ul>
                                <p>A Desktop application of Multiple Choice quiz for Shree S.M.K.R Vashi High School to help students for appearing in MCQ exams. Which allows to add questions to question bank,Setting up papers, Taking online exams by shuffling questions for every
                                    student,Provides instance result and finally generates MIS reports through exam results.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="js-testimonials">
              <div class="row center">
                  <div class="headTag">
                      <p>
                          <span>WHAT PEOPLE SAYS</span>
                      </p>
                      <h1>Testimonials</h1>
                  </div>
              </div>
                <div class="carousel slide" data-ride="carousel" id="js-testimonial">
                    <ol class="carousel-indicators">
                        <li data-target="#js-testimonial" data-slide-to="0" class="active"><img class="img-responsive " src="images/black.jpg" alt=""></li>
                        <li data-target="#js-testimonial" data-slide-to="1"><img class="img-responsive" src="images/img1.jpeg" alt=""></li>
                        <li data-target="#js-testimonial" data-slide-to="2"><img class="img-responsive" src="images/vinay.jpg" alt=""></li>
                    </ol>
                    <div class="carousel-inner text-center" role="listbox">
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p class="testimonials">Vinay is a very hard working and very productive person i have ever worked with. He needs minimum input to understand any task and gets the work done in minimum time, delivering quality product. His dedication towards his work and responsibilities makes him a very credible person.</p>
                                        <small>Prabhat Saxena (Senior Developer @ Loginext)</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p class="testimonials">Vinay was hired as a full stack developer in January,2016. Since then he has worked on the development of three projects.He always has a never to give up attitude. I particularly like his ability to handle even the toughest problems that are faced during developments - and without a tinge of stress. This skill often takes years to develop among developers,but it seems to come perfectly naturally to him.</p>
                                        <small>Tanvi Baranwal (Senior UI Developer @ Loginext)</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p class="testimonials">In the time that I've worked with Vinay, he has always shown a commitment to the work. Also, he is a quick-learner. Another quality of Vinay that I appreciate is his open-mindedness, he keeps pre-suppositions to a minimum and
                                            is always up for a talk on how to get things better. He has started off with a bang to get into the thick of many technologies that we use at LogiNext for making the product better every single day. He is always on his cool and is mostly sorted on
                                            the personal front, making him such an approchable person even apart from work.</p>
                                        <small>Jay Bakshi (Senior QA @ Loginext)</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <a data-slide="prev" href="#js-testimonial" class="left carousel-control">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a data-slide="next" href="#js-testimonial" class="right carousel-control">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </section>

            <section id="js-contact">
                <div class="row center">
                    <div class="headTag">
                        <p>
                            <span>Let's Talk</span>
                        </p>
                        <h1>Contact</h1>
                    </div>
                </div>
                <div class="center">
                    <p class="contact">Whether you’d like to discuss a project,Want to work with me ?,or simply say “hello”, I’d love to hear from you.</p>
                    <div class="row">
                      <div class="col-xs-6" style="padding:20px;text-align:right">
                          <span style="padding: 8px;
                                    border: 1px dashed black;
                                    border-left: 4px solid red;"><i class="fa fa-mobile" aria-hidden="true"></i> +91-9033736602</span>
                      </div>
                      <div class="col-xs-6" style="padding:20px;text-align:left">
                        <span style="padding: 8px;
                                  border: 1px dashed black;
                                  border-left: 4px solid red;
                                  ">sharma.vinay336@gmail.com</span>
                      </div>
                    </div>
                </div>
            </section>


            <section>
              <div class="scroll-top-wrapper {{activeColor}}-theme" ng-click="scrollToTop()">
                <span class="scroll-top-inner">
                  <i class="fa fa-2x fa-arrow-circle-up rotate"></i>
                </span>
              </div>
            </section>

            <footer class="center {{activeColor}}-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <span>
                          Handcrafted with <span class="bounceIn animated infinite" style="color:red"><i class="fa fa-heart"></i></span> and <i class="fa fa-apple"></i> by Vinay.
                        </span>
                    </div>
                </div>
            </footer>

        </main>
    </body>
</html>
